@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 25px;
}
.dashboard {
  padding: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fc;
  overflow-y: auto;
}

.dashboard::-webkit-scrollbar {
  display: none;
}

.dashboard ul {
  list-style-type: none;
  padding: 0;
}

.dashboard > ul > .links > li {
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid rgba(200, 200, 200, 0.6);
  width: 100%;
  margin-top: 12px;
  border-radius: 8px;
  gap: 12px;
  color: #495057;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.dashboard > ul > .links > li:hover {
  background: linear-gradient(90deg, rgb(87, 87, 226), rgb(54, 54, 183));
  color: #fff !important;
  box-shadow: 0 4px 8px rgba(87, 87, 226, 0.3);
  transform: translateY(-2px);
}

.active {
  background: linear-gradient(90deg, rgb(87, 87, 226), rgb(54, 54, 183));
  color: #fff !important;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(87, 87, 226, 0.3);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-area {
  box-shadow: 0px 0px 15px gray;
  height: 100px;
  width: 200px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(214, 40, 69);
  transition: transform 0.3s;
}

.text-area:hover {
  transform: scale(1.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 2px gray;
  padding:0 1.6rem;
}

.ui-show{
  overflow: scroll;
}

.ui-show::-webkit-scrollbar{
  display: none;
}

.navigation > ul > li {
  display: inline-block;
  padding: 10px 20px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
